body{
    font-family: 'Roboto','Raleway', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul{
    margin: 0;
    padding-left: 0;
}
li{
    list-style-type: none;
}

a{
    color: #434455;
    text-decoration: none;
} 

a:hover{
    color: #404BBF;
}

.logo-button{
    background: #4D5AE5;
}

.logo-button:hover{
    background: #404BBF;
}

.button{
    background: #F4F4FD;  
}

.button:hover{
    background: #404BBF;
    color: #FFFFFF;
}

:root{
    --text-color-dark: #2E2F42;
    --text-color-gray: #434455;
}
/*-----------------------------------------------------HERE-----------------------------------------------*/
.head {
    padding-top: 24px;
    border-bottom: 1px solid #E7E9FC;
    padding-bottom: 24px;

    
        

}
.conteiner{
    width: 1168px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.webstudio {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-dark);
      
}

.color-web{
    color: #4D5AE5;
    font-family: 'Raleway';
}

.color-web:hover{
    color: #404BBF;
}

.head-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-dark);
    display: flex;
    gap: 40px;
    margin-left: 76px;
    

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 261px;
    height: 24px;
    left: 347px;
    top: 24px;

}



.mail {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-gray);

     
    position: absolute;
    width: 153px;
    height: 24px;
    left: 940px;
    top: 24px;

}

.tel {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-gray);

    position: absolute;
    width: 151px;
    height: 24px;
    left: 1133px;
    top: 24px;


}
/*-----------------------------------------------------logo-----------------------------------------------*/

.logo-image {
    background: #2E2F42;


}
.logo-image .conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    

          
    
}
.logo-text span{
    display: block;
}
.logo-position{
    padding-top: 188px;
    margin-bottom: 48px;
    
}

.logo-button {
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;

   
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

     

}
.button-posotion{
    padding-bottom: 188px;
    display: flex;
    justify-content: center;

}
/*-----------------------------------------------------strategy-----------------------------------------------*/

.strategy-list {
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    gap: 24px;
}
.conteiner-text-main{
    height: 104px;
    width: 264px;
}

.strategy-item-title {
    width: 264px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.stategy-item-text {
    width: 264px;
    height: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color-dark);
    margin-top: 120px;
}
.photo {
    display: flex;
    gap: 25px;
    margin-top: 70px;
    margin-bottom: 120px;
}

.section-2 {
    background: #F4F4FD;
}
.team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color-dark);
    padding-top: 120px;
}
.team-list-item {
    display: flex;
    gap: 25px;
    margin-top: 70px;
    padding-bottom: 120px;

}
.team-list{
    background: #FFFFFF;

}
.team-text{
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}
.team-item-title {
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;
    color: var(--text-color-dark);
    padding-bottom: 8px;
    text-align: center;

}
.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-gray);
    text-align: center;
}
/*-----------------------------------------------------Footer-----------------------------------------------*/

.footer{
    background-color: var(--text-color-dark);
}
.webstudio-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD; 
    padding-top: 100px;
    padding-bottom: 16px;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    width: 264px;
    height: 72px; 
    padding-bottom: 100px;

}
/*-----------------------------------------------------Portfolio-----------------------------------------------*/


.portfolio-button {
     
    flex-direction: row;
    align-items: flex-start; 
    gap: 24px;
    display: flex;
    margin-top: 96px;
    margin-bottom: 72px;
    justify-content: center;
}

.button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: auto;
    height: 48px;
    background: #F4F4FD;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    flex: none;
    order: 3;
    flex-grow: 0;
    
}

.section-div {
    display: flex;
    gap: 24px;
    margin-bottom: 48px;

}
.div{
    margin-top: 72px;
}
.card-list {

    border: 1px solid #E7E9FC;
    width: 360px;
    height: 420px;
}

.card-item-tittle {
    font-family: 'Roboto' , sans-serif  ;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
}
.card-item-text {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.conteiner-text {

    padding: 32px 16px;
    gap: 8px;
   
}

.footer-portfolio{
  background-color: var(--text-color-dark);
  margin-top: 120px;  
}
